<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error ">
      <h2><%= @task.errors.count %><%= ('error') %></h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="detail">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to t('task list'), tasks_path %>
