<h1><%= t('検索')%></h1>
<p><%= notice %></p>

<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <div>
      <%= form.label :name %>
      <%= form.text_field :name%>
  </div>
      <%= form.label :Status %>
      <%= form.select :status, [["完了","1"], ["着手中","2"], ["未着手","3"]], include_blank: "選択して下さい" %>

    <%= form.hidden_field :search, value: 'true' %>

  <div>
      <%= form.submit 'Search'%>
  </div>


<% end %>

<%= link_to "終了期限sort", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位sort", tasks_path(sort_priority: "true")%>
<%= link_to "reset", tasks_path%>

<div class="page-header">
	<h1>一覧</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>detail</th>
      <th>End date</th>
      <th>Priority</th>
      <th>Status</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.end_date %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>
<br>

<%# # <%= link_to 'New Task', new_task_path%>
<%# <%= link_to "log out", session_path(current_user.id), method: :delete%> 
<%# <%= link_to "Sign up", new_user_path%>
