<!DOCTYPE html>
<html>
  <head>
    <title>NManyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if logged_in? %>
    <%= link_to "new task", new_task_path(current_user.id) %>
    <%= link_to "index", tasks_path(current_user.id) %>
    <%= link_to "log out", session_path(current_user.id), method: :delete %>

    <% if current_user && current_user.admin? %>
    <%= link_to "administrator", admin_users_path %>
    <% end %>
  <% else %>
    <%= link_to "Sign up", new_user_path %>
    <%= link_to "Log in", new_session_path %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>

<!-- unless current_user && current_user.admin? -->
  <!-- redirect_to tasks_path, notice:"管理権限無し" -->
